* {
  font-family: "Iosevka Nerd Font Propo" sans-serif;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --bg-primary: #141415;
  --bg-secondary: #1c1c24;
  --fg-primary: #AEAED1;
}

body {
  background-color: var(--bg-secondary);
  background-size: cover;
  color: var(--fg-primary);
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--fg-primary);
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
}

ul {
  background-color: var(--bg-primary);
  list-style: none;
  padding: 2rem;
}
